tsquire-HWQ3plu.rar
policyEvaluationHW8.pdf
ascher_ch1q3.m
ascher_ch1q5d.m
ascher_ch3q15.m
countDigitCorrect.m
iterateAnalysis.m
durandKerner.m
hornerDeflate.m
modGS.m
polyNewton.m
question3Check.m
random.m
tsquireHW1.m

